<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Store Management</title>

    <link rel="stylesheet" href="/css/bootstrap1.min.css"/>

    <link rel="stylesheet" href="/vendors/themefy_icon/themify-icons.css"/>

    <link rel="stylesheet" href="/vendors/niceselect/css/nice-select.css"/>

    <link rel="stylesheet" href="/vendors/owl_carousel/css/owl.carousel.css"/>

    <link rel="stylesheet" href="/vendors/gijgo/gijgo.min.css"/>

    <link rel="stylesheet" href="/vendors/font_awesome/css/all.min.css"/>
    <link rel="stylesheet" href="/vendors/tagsinput/tagsinput.css"/>

    <link rel="stylesheet" href="/vendors/datepicker/date-picker.css"/>
    <link rel="stylesheet" href="/vendors/vectormap-home/vectormap-2.0.2.css"/>

    <link rel="stylesheet" href="/vendors/scroll/scrollable.css"/>

    <link rel="stylesheet" href="/vendors/datatable/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="/vendors/datatable/css/responsive.dataTables.min.css"/>
    <link rel="stylesheet" href="/vendors/datatable/css/buttons.dataTables.min.css"/>

    <link rel="stylesheet" href="/vendors/text_editor/summernote-bs4.css"/>

    <link rel="stylesheet" href="/vendors/morris/morris.css">

    <link rel="stylesheet" href="/vendors/material_icon/material-icons.css"/>

    <link rel="stylesheet" href="/css/metisMenu.css">

    <link rel="stylesheet" href="/css/style1.css"/>
    <link rel="stylesheet" href="/css/colors/default.css" id="colorSkinCSS">

</head>


<body class="crm_body_bg">
<header>
    <nav class="sidebar dark_sidebar active_sidebar">
        <div class="logo d-flex justify-content-between">
            <a class="large_logo" href="#"><img src="/img/logo_white.png" alt=""></a>
            <a class="small_logo" href="#"><img src="/img/mini_logo.png" alt=""></a>
            <div class="sidebar_close_icon d-lg-none">
                <i class="ti-close"></i>
            </div>
        </div>
        <ul id="sidebar_menu" class="metismenu">
            <li class="">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="/img/menu-icon/dashboard.svg" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Dashboard</span>
                    </div>
                </a>
                <ul class="mm-collapse">
                    <li><a href="#">Default</a></li>
                    <li><a href="#" class="active">Dark Sidebar</a></li>
                    <li><a href="#">Light Sidebar</a></li>
                </ul>
            </li>

            <li class="">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="/img/menu-icon/5.svg" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Customers</span>
                    </div>
                </a>
                <ul class="mm-collapse">
                    <li><a href="#">Customer List</a></li>
                </ul>
            </li>

            <li class="">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="/img/menu-icon/13.svg" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Products</span>
                    </div>
                </a>
                <ul class="mm-collapse">
                    <li><a href="#">Product List</a></li>
                </ul>
            </li>

            <li class="">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="/img/menu-icon/21.svg" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Reports</span>
                    </div>
                </a>
            </li>

            <li class="">
                <a class="" href="#" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="/img/menu-icon/8.svg" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Point of Sale</span>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</header>

<section class="main_content dashboard_part large_header_bg">
    <!--    region SubHeader    -->
    <div class="container-fluid g-0">
        <div class="row">
            <div class="col-lg-12 p-0 ">
                <div class="header_iner d-flex justify-content-between align-items-center">
                    <div class="serach_field-area d-flex align-items-center"></div>
                    <div class="header_right d-flex justify-content-between align-items-center">
                        <div class="profile_info mr_15 w-100">
                            <img src="/img/client_img.png" alt="#">
                            <div class="profile_info_iner">
                                <div class="profile_author_name">
                                    <p>Welcome, </p>
                                    <h5 th:if="${user} != null" th:text="${user.getUsername()}"></h5>
                                </div>
                                <div class="profile_info_details">
                                    <a th:href="@{/profile}">My Profile</a>
                                    <a th:href="@{/auth/logout}">Log Out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    endregion SubHeader-->

    <div class="main_content_iner overly_inner ">
        <div class="container-fluid p-0 ">
            <div layout:fragment="content">
                <div class="row">
                    <h1>Not Found</h1>
                    <p>The requested URL was not found on this server.</p>
                </div>
            </div>
        </div>
    </div>

    <!--    region Footer   -->
    <div class="footer_part">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer_iner text-center">
                        <p>2023 © Store Management</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    endregion Footer   -->
</section>

<div layout:fragment="grid-modal">
    No modal defined
</div>

<!-- region Warning Modal -->
<div th:if="${error != null and error != ''}" class="modal fade bd-example-modal-sm show" tabindex="-1"
     aria-labelledby="mySmallModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content p-4">
            <p th:text="${error}">Error message</p>
        </div>
    </div>
</div>


<!-- endregion Warning Modal-->

<!-- region Script -->
<script src="/js/jquery1-3.4.1.min.js"></script>
<script src="/js/popper1.min.js"></script>
<script src="/js/bootstrap1.min.js"></script>
<script src="/js/metisMenu.js"></script>

<script src="/vendors/count_up/jquery.waypoints.min.js"></script>
<script src="/vendors/chartlist/Chart.min.js"></script>
<script src="/vendors/count_up/jquery.counterup.min.js"></script>
<script src="/vendors/niceselect/js/jquery.nice-select.min.js"></script>
<script src="/vendors/owl_carousel/js/owl.carousel.min.js"></script>

<script src="/vendors/datatable/js/jquery.dataTables.min.js"></script>
<script src="/vendors/datatable/js/dataTables.responsive.min.js"></script>
<script src="/vendors/datatable/js/dataTables.buttons.min.js"></script>
<script src="/vendors/datatable/js/buttons.flash.min.js"></script>
<script src="/vendors/datatable/js/jszip.min.js"></script>
<script src="/vendors/datatable/js/pdfmake.min.js"></script>
<script src="/vendors/datatable/js/vfs_fonts.js"></script>
<script src="/vendors/datatable/js/buttons.html5.min.js"></script>
<script src="/vendors/datatable/js/buttons.print.min.js"></script>

<script src="/vendors/datepicker/datepicker.js"></script>
<script src="/vendors/datepicker/datepicker.en.js"></script>
<script src="/vendors/datepicker/datepicker.custom.js"></script>
<script src="/js/chart.min.js"></script>
<script src="/vendors/chartjs/roundedBar.min.js"></script>

<script src="/vendors/progressbar/jquery.barfiller.js"></script>

<script src="/vendors/tagsinput/tagsinput.js"></script>

<script src="/vendors/text_editor/summernote-bs4.js"></script>
<script src="/vendors/am_chart/amcharts.js"></script>

<script src="/vendors/scroll/perfect-scrollbar.min.js"></script>
<script src="/vendors/scroll/scrollable-custom.js"></script>

<script src="/vendors/vectormap-home/vectormap-2.0.2.min.js"></script>
<script src="/vendors/vectormap-home/vectormap-world-mill-en.js"></script>

<script src="/vendors/apex_chart/apex-chart2.js"></script>
<script src="/vendors/apex_chart/apex_dashboard.js"></script>

<script src="/vendors/chart_am/core.js"></script>
<script src="/vendors/chart_am/charts.js"></script>
<script src="/vendors/chart_am/animated.js"></script>
<script src="/vendors/chart_am/kelly.js"></script>
<script src="/vendors/chart_am/chart-custom.js"></script>

<script src="/js/dashboard_init.js"></script>
<script src="/js/custom.js"></script>

<script>
    function showGridModal() {
        $('#grid_modal').modal('show');
    }
</script>

<script th:if="${error != null and error != ''}">
    $(document).ready(function () {
        $('.modal').modal('show');
    });
</script>

<!-- endregion Script -->
</body>
</html>
