<html
    lang="en"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="Shared/_layout.html"
>
    <body>
        <section layout:fragment="content">
            <div class="main_content_iner overly_inner">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12">
                            <div
                                class="page_title_box d-flex align-items-center justify-content-between"
                            >
                                <div class="page_title_left">
                                    <h3 class="f_s_30 f_w_700 dark_text">
                                        Dashboard
                                    </h3>
                                    <ol class="breadcrumb page_bradcam mb-0">
                                        <li class="breadcrumb-item">
                                            <a href="javascript:void(0);"
                                                >Salessa
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a href="javascript:void(0);"
                                                >Dashboard</a
                                            >
                                        </li>
                                        <li class="breadcrumb-item active">
                                            invoice
                                        </li>
                                    </ol>
                                </div>
                                <button class="white_btn3 btn-cancel-order">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Search product -->
                        <div class="mb-3">
                            <form role="form">
                                <div class="form-group">
                                    <input
                                        class="form-control"
                                        id="search-product-by-name"
                                        type="search"
                                        placeholder="Search product by name or barcode..."
                                    />
                                </div>
                                <div
                                    id="searchlist"
                                    class="list-group list-group-flush"
                                ></div>
                            </form>
                        </div>

                        <div class="col-12 QA_section">
                            <div class="card QA_table">
                                <div class="card-header">
                                    Invoice
                                    <strong class="current-date"></strong>
                                    <span class="float-end">
                                        <strong>Status:</strong> Pending</span
                                    >
                                </div>
                                <div class="card-body">
                                    <!-- <div class="row mb-4">
                                    <div class="col-sm-6">
                                        <h6 class="mb-3">From:</h6>
                                        <div>
                                            <strong>Person 1</strong>
                                        </div>
                                        <div>England</div>
                                        <div>71-101 Szczecin, England</div>
                                        <div>
                                            Email:
                                            <a
                                                href="https://demo.dashboardpack.com/cdn-cgi/l/email-protection"
                                                class="__cf_email__"
                                                data-cfemail="fb9f9e9694bb9c969a9297d5989496"
                                                >[email&#160;protected]</a
                                            >
                                        </div>
                                        <div>Phone: +0000</div>
                                    </div>
                                    <div class="col-sm-6">
                                        <h6 class="mb-3">To:</h6>
                                        <div>
                                            <strong>Person 2</strong>
                                        </div>
                                        <div>England</div>
                                        <div>71-101 Szczecin, England</div>
                                        <div>
                                            Email:
                                            <a
                                                href="https://demo.dashboardpack.com/cdn-cgi/l/email-protection"
                                                class="__cf_email__"
                                                data-cfemail="2246474f4d62454f434b4e0c414d4f"
                                                >[email&#160;protected]</a
                                            >
                                        </div>
                                        <div>Phone: +0000</div>
                                    </div>
                                </div> -->

                                    <div class="table-responsive-sm">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Item</th>
                                                    <th class="right">
                                                        Unit Cost
                                                    </th>
                                                    <th class="center">
                                                        Quantity
                                                    </th>
                                                    <th class="right">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4 col-sm-5"></div>
                                        <div
                                            class="col-lg-4 col-sm-5 ms-auto QA_section"
                                        >
                                            <table
                                                class="table table-clear QA_table"
                                            >
                                                <tbody>
                                                    <tr>
                                                        <td class="left">
                                                            <strong
                                                                >Total</strong
                                                            >
                                                        </td>
                                                        <td class="right">
                                                            <strong
                                                                class="whole-total"
                                                                >$0.00</strong
                                                            >
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <button
                                        type="button"
                                        class="btn btn-primary w-100 m-2 modal-confirm-payment"
                                        data-bs-toggle="modal"
                                        data-bs-target="#modal-customer"
                                    >
                                        Confirm
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
