<html
    lang="en"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="Shared/_layout.html"
>
    <body>
        <section layout:fragment="content">
            <div class="main_content_iner overly_inner">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12">
                            <div
                                class="page_title_box d-flex flex-wrap align-items-center justify-content-between"
                            >
                                <div
                                    class="page_title_left d-flex align-items-center"
                                >
                                    <h3
                                        class="f_s_25 f_w_700 dark_text mr_30"
                                    >
                                        Dashboard
                                    </h3>
                                    <ol
                                        class="breadcrumb page_bradcam mb-0"
                                    >
                                        <li class="breadcrumb-item">
                                            <a href="javascript:void(0);"
                                                >Home</a
                                            >
                                        </li>
                                        <li class="breadcrumb-item active">
                                            Analytic
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  -->
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="white_card mb_30 card_height_100">
                                <div class="white_card_header">
                                    <div
                                        class="row align-items-center justify-content-between flex-wrap"
                                    >
                                        <div class="col-lg-10">
                                            <div class="main-title">
                                                <h3 class="m-0">
                                                    Business Result
                                                </h3>
                                            </div>
                                        </div>

                                        <div class="col-lg-2">
                                            <select
                                                id="date-range-select"
                                                class="nice_Select2 max-width-220"
                                            >
                                                <option value="today">
                                                    Today
                                                </option>
                                                <option value="yesterday">
                                                    Yesterday
                                                </option>
                                                <option value="last7days">
                                                    Last 7 days
                                                </option>
                                                <option value="thismonth">
                                                    This month
                                                </option>
                                                <option value="custom">
                                                    Custom
                                                </option>
                                            </select>

                                            <div
                                                class="form-group d-none mt-5 w-100"
                                                id="customDateRange"
                                            >
                                                <label
                                                    class="pt-2"
                                                    for="startDate"
                                                    >Start Date:</label
                                                >
                                                <input
                                                    type="date"
                                                    class="form-control"
                                                    id="startDate"
                                                />

                                                <label
                                                    class="pt-2"
                                                    for="endDate"
                                                    >End Date:</label
                                                >
                                                <input
                                                    type="date"
                                                    class="form-control"
                                                    id="endDate"
                                                />

                                                <button
                                                    class="btn btn-secondary mt-2"
                                                    id="search-custom-date"
                                                >
                                                    Search
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Table for displaying sales results -->
                                <div class="table-responsive">
                                    <table
                                        id="sales-results-table"
                                        class="table table-bordered table-striped"
                                    >
                                        <thead>
                                            <tr>
                                                <th>Order Date</th>
                                                <th>
                                                    Quantity of Sold Product
                                                </th>
                                                <th>Revenue</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>

                                <!-- Table for displaying profit -->
                                <div class="table-responsive">
                                    <table
                                        id="profit-table"
                                        class="table table-bordered table-striped"
                                    >
                                        <thead>
                                            <tr>
                                                <th>Total Revenue</th>
                                                <th>Total Cost</th>
                                                <th>Total Profit</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="back-top" style="display: none">
            <a title="Go to Top" href="#">
                <i class="ti-angle-up"></i>
            </a>
        </div>
    </body>
</html>
